#!/usr/bin/env bash

module purge
module load r/<%= context.r_version %>

# nb: rserver doesn't like really long file paths
#     so we use a temporary directory instead.
RSTMPDIR="$( mktemp -d -p /tmp )"
echo "RStudio Server OOD session directory: $PWD"
echo "RStudio Server temporary working directory: $RSTMPDIR"

mkdir -p $RSTMPDIR/{bin,data,db,etc,log}
AUTH="$RSTMPDIR/bin/auth"
DATADIR="$RSTMPDIR/data"
DBCONF="$RSTMPDIR/etc/database.conf"
DBDIR="$RSTMPDIR/db"
LOGCONF="$RSTMPDIR/etc/logging.conf"
LOGDIR="$RSTMPDIR/log"
RSERVERCONF="$RSTMPDIR/etc/rserver.conf"
RSESSIONCONF="$RSTMPDIR/etc/rsession.conf"

cp -a $PWD/bin/auth $RSTMPDIR/bin

cat <<EOF > $DBCONF
provider=sqlite
directory=$DBDIR
EOF

cat <<EOF > $LOGCONF
[*]
log-level=debug
logger-type=file
log-dir=$LOGDIR
log-file-mode=644
EOF

cat <<EOF > $RSERVERCONF
auth-encrypt-password=0
auth-none=1
database-config-file=$DBCONF
rsession-config-file=$RSESSIONCONF
rsession-path=/usr/lib/rstudio-server/bin/rsession
server-data-dir=$DATADIR
server-daemonize=0
server-user=$USER
server-working-dir=$RSTMPDIR
www-port=$port
EOF

cat <<EOF > $RSESSIONCONF
r-cran-repos=https://cloud.r-project.org/
session-timeout-minutes=0
EOF

export RS_LOG_CONF_FILE="$LOGCONF"
export RSTUDIO_PASSWORD="$password"

echo "Starting up RStudio Server ..."

/usr/lib/rstudio-server/bin/rserver \
--auth-pam-helper-path $AUTH \
--config-file $RSERVERCONF
