---
title: 'RStudio'
cluster: 'c2'

form:
  - bc_account
  - bc_queue
  - r_version
  - fs_size
  - fs_gpu
  - bc_num_hours
  - bc_email_on_started

attributes:

  bc_account: 'users'
  bc_queue: 'dev'

  r_version:
    label: 'R Version'
    widget: 'select'
    options:
      - '4.5.1'
    value: '4.5.1'

  fs_size:
    label: 'Size'
    widget: 'select'
    options:
      - [ 'Tiny', 'tiny' ]
      - [ 'Small', 'small' ]
      - [ 'Medium', 'medium' ]
      - [ 'Large', 'large' ]
    value: 'small'
    help: |
      <small>

        - **Tiny**: 2 core, 8 GB
        - **Small**: 4 cores, 16 GB
        - **Medium**: 8 cores, 32 GB
        - **Large**: 16 cores, 64 GB

      </small>

  fs_gpu:
    label: 'Allocate a GPU'
    widget: 'check_box'

  bc_num_hours:
    value: 1
    max: 12
