---
name: RStudio
category: Interactive Apps
subcategory: Servers
role: batch_connect
description: |
  This app will launch [RStudio Server], an IDE for [R], on a compute node.
  
  [RStudio Server]: https://www.rstudio.com/products/rstudio-server/
  [R]: https://www.r-project.org/
tile:
  border_color: "tile rstudio"
  sub_caption: |
    Launch RStudio 
    