#!/bin/bash

# create home directory and on-board to slurm

set -e

HOMEBASE="/home/users"
SACCTMGR="/usr/bin/sacctmgr"
SDEFACCT="users"
SPARTLIST="dev,normal,long"

# skip for root/*.root users
[ "$( echo $PAM_USER | cut -d '.' -f 2 )" = 'root' ] && exit 0
# skip for rocky user
[ "$PAM_USER" = 'rocky' ] && exit 0

# create user home directory
if mountpoint -q $HOMEBASE && [ ! -d $HOMEBASE/$PAM_USER ]
then
  cp -a /etc/skel $HOMEBASE/$PAM_USER
  chown -R $PAM_USER: $HOMEBASE/$PAM_USER
  chmod 00700 $HOMEBASE/$PAM_USER
fi

ssh c2-admin-01 /admin/bin/set-home-quota/set-home-quota.sh $PAM_USER

# skip slurm user accounting if slurm not installed
[ -x $SACCTMGR ] || exit 0

# ensure that slurm default user account exists
if [ -z "$( $SACCTMGR -nP list account name=$SDEFACCT format=account )" ]
then
  $SACCTMGR -i create account name=$SDEFACCT
fi

# ensure that slurm user is associated with default users account
if [ -z "$( $SACCTMGR -nP list user name=$PAM_USER defaultaccount=$SDEFACCT format=user )" ]
then
  $SACCTMGR -i add user name=$PAM_USER account=$SDEFACCT defaultaccount=$SDEFACCT partition=$SPARTLIST
fi
