#!/bin/bash

# create home directory, set home directory quota, and on-board to slurm

set -e

HOMEBASE="/home/users"
SACCTMGR="/usr/bin/sacctmgr"
SDEFACCT="users"
SPARTLIST="dev,normal,long"

# noop if not run as root
[ $( id -u ) -eq 0 ] || exit
# noop if PAM_USER isn't set or user doesn't exist
[ -n "$PAM_USER" ] && id $PAM_USER &>/dev/null || exit
# noop for root/*.root users
[ "$( echo $PAM_USER | cut -d '.' -f 2 )" = 'root' ] && exit
# noop for rocky user
[ "$PAM_USER" = 'rocky' ] && exit

# create user home directory
if mountpoint -q $HOMEBASE && [ ! -d $HOMEBASE/$PAM_USER ]
then
  cp -a /etc/skel $HOMEBASE/$PAM_USER
  chown -R $PAM_USER: $HOMEBASE/$PAM_USER
  chmod 00700 $HOMEBASE/$PAM_USER
fi

# set quota on user home directory
# todo: consider exposing powerscale onefs api to login nodes
ssh c2-admin-01 /admin/bin/set-home-quota $PAM_USER

# skip slurm user accounting if slurm not installed
[ -x $SACCTMGR ] || exit 0

# ensure that slurm default user account exists
if [ -z "$( $SACCTMGR -nP list account name=$SDEFACCT format=account )" ]
then
  $SACCTMGR -i create account name=$SDEFACCT
fi

# ensure that slurm user is associated with default users account
if [ -z "$( $SACCTMGR -nP list user name=$PAM_USER defaultaccount=$SDEFACCT format=user )" ]
then
  $SACCTMGR -i add user name=$PAM_USER account=$SDEFACCT defaultaccount=$SDEFACCT partition=$SPARTLIST
fi
