Include /etc/crypto-policies/back-ends/opensshserver.config

SyslogFacility AUTHPRIV
PermitRootLogin no
PubkeyAuthentication no
PasswordAuthentication yes
KbdInteractiveAuthentication yes
KerberosAuthentication yes
KerberosOrLocalPasswd no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
GSSAPIStoreCredentialsOnRekey yes
GSSAPIStrictAcceptorCheck no
GSSAPIKeyExchange yes
UsePAM yes
X11Forwarding yes
PrintMotd no
AuthorizedKeysFile .ssh/authorized_keys
AcceptEnv LANG LC_*
Subsystem sftp /usr/libexec/openssh/sftp-server
# gssapi plus duo or password plus duo
AuthenticationMethods gssapi-keyex,keyboard-interactive gssapi-with-mic,keyboard-interactive password,keyboard-interactive

# allow {{ default_user }} user to use public key authentication only without duo
Match User {{ default_user }}
    PubKeyAuthentication yes
    PasswordAuthentication no
    KbdInteractiveAuthentication no
    KerberosAuthentication no
    AuthenticationMethods publickey

# allow carina_admins group to use public key authentication with duo
Match Group carina_admins
    PubKeyAuthentication yes
    AuthenticationMethods gssapi-keyex,keyboard-interactive gssapi-with-mic,keyboard-interactive publickey,keyboard-interactive password,keyboard-interactive

# allow all users to login only from cluster network or vpn
Match Address *,!127.0.0.1,!::1,!{{ network_access_cidr }},!{{ network_vpn_cidrs | join(",!") }}
    DenyUsers *

{% if inventory_hostname in groups['c2_compute_node'] %}
# allow unprivileged users to login to compute nodes only from access network
Match Group carina_users,!carina_admins Address *,!127.0.0.1,!::1,!{{ network_access_cidr }}
    ForceCommand /usr/sbin/nologin
{% elif inventory_hostname in groups['c2_open_ondemand'] and ood_tier == 'prod' %}
# allow carina_bprogers group to login to non-prod ood nodes
Match Group carina_bprogers,!carina_admins
    ForceCommand /usr/sbin/nologin
{% elif inventory_hostname not in ( groups['c2_compute_node'] + groups['c2_login_node'] + groups['c2_open_ondemand'] ) %}
# allow only admins to login to nodes other than login and compute nodes
Match Group carina_users,!carina_admins
    ForceCommand /usr/sbin/nologin
{% endif %}
