Include /etc/crypto-policies/back-ends/opensshserver.config

SyslogFacility AUTHPRIV
PermitRootLogin no
PubkeyAuthentication no
PasswordAuthentication yes
KbdInteractiveAuthentication yes
KerberosAuthentication yes
KerberosOrLocalPasswd no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
GSSAPIStoreCredentialsOnRekey yes
GSSAPIStrictAcceptorCheck no
GSSAPIKeyExchange yes
UsePAM yes
X11Forwarding yes
PrintMotd no
AuthorizedKeysFile .ssh/authorized_keys
AcceptEnv LANG LC_*
Subsystem sftp /usr/libexec/openssh/sftp-server
AuthenticationMethods gssapi-keyex,keyboard-interactive gssapi-with-mic,keyboard-interactive password,keyboard-interactive

# allow all users to login only from cluster network or vpn
Match Address *,!127.0.0.1,!127.0.1.1,!::1,!{{ network_cidr }},!{{ network_vpn_cidrs | join(",!") }}
    DenyUsers *

# allow {{ default_user }} user to use public key authentication when logging in from cluster network or vpn
Match User {{ default_user }} Address 127.0.0.1,127.0.1.1,::1,{{ network_cidr }},{{ network_vpn_cidrs | join(",") }}
    PubKeyAuthentication yes
    AuthenticationMethods publickey

# allow {{ sshd_admins_group }} group to use public key authentication when logging in from cluster network or vpn
Match Group {{ sshd_admins_group }} Address 127.0.0.1,127.0.1.1,::1,{{ network_cidr }},{{ network_vpn_cidrs | join(",") }}
    PubKeyAuthentication yes
    AuthenticationMethods publickey gssapi-keyex,keyboard-interactive gssapi-with-mic,keyboard-interactive password,keyboard-interactive

{% if inventory_hostname in groups['c2_compute_node'] %}
# allow unprivileged users to login to compute nodes only from cluster network
Match Group {{ sshd_users_group }} Address *,!127.0.0.1,!127.0.1.1,!::1,!{{ network_cidr }}
    ForceCommand /usr/sbin/nologin
{% endif %}
