#!/usr/bin/env bash

module purge

echo "Running on compute node $host:$port"

export PASSWORD="$password"

echo "Starting code-server"

code-server \
--auth password \
--bind-addr 0.0.0.0:$port \
--disable-getting-started-override \
--disable-proxy \
--disable-telemetry \
--disable-update-check \
--disable-workspace-trust \
--ignore-last-opened \
$HOME
