---
servername: "{{ public_name }}"

ssl:
  - 'SSLCertificateKeyFile {{ apache_tls_key }}'
  - 'SSLCertificateFile {{ apache_tls_crt }}'

auth:
  - 'AuthType openid-connect'
  - 'Require valid-user'

oidc_uri: '/oidc'
oidc_provider_metadata_url: 'https://login.stanford.edu/.well-known/openid-configuration'
oidc_client_id: "{{ lookup('env', 'OOD_OIDC_CLIENT_ID') }}"
oidc_client_secret: "{{ lookup('env', 'OOD_OIDC_CLIENT_SECRET') }}"
oidc_settings:
  OIDCPKCEMethod: 'S256'
  OIDCSSLValidateServer: 'Off'

logout_redirect: "/oidc?logout=https%3A%2F%2F{{ public_name }}"

host_regex: "({{ groups['c2_compute_node'] | join("|") }})\\.{{ domain | replace(".","\\\\.") }}"
node_uri: '/node'
rnode_uri: '/rnode'
