#!/bin/bash

[ -n "$1" ] || exit 0

# source isilon credentials
DIR="$( cd "$( dirname "$( readlink -f "$0" )" )" && pwd )"
ME="$( basename "$( readlink -f "$0" )" )"
. $DIR/$ME.env

# check for existence of home directory
[ -d /home/users/$1 ] || exit 0

ISILON_HOMEBASE="/ifs/carina-prod/home"

# determine if a quota is already set
ISILON_QUOTA_COUNT=$(curl --get --data-urlencode "path=$ISILON_HOMEBASE/$1" -s -f -k -u "${ISILON_USER}:${ISILON_PASSWORD}" -X GET "https://h700.mgmt.carina:8080/platform/8/quota/quotas" -H "Content-Type: application/json" | jq '.quotas | length')

[ $ISILON_QUOTA_COUNT -eq 0 ] || exit 0

# Parameters for quota POST request
QUOTA_SIZE=26843545600 # 25Gb
ISILON_URL="https://h700.mgmt.carina:8080/platform/8/quota/quotas"
JSON_DATA=$(cat <<EOF
{
  "include_snapshots": false,
  "path": "$ISILON_HOMEBASE/$1",
  "thresholds": {
    "hard": $QUOTA_SIZE
  },
  "type": "directory"
}
EOF
)

curl -s -f -k -u "${ISILON_USER}:${ISILON_PASSWORD}" -X POST "https://h700.mgmt.carina:8080/platform/8/quota/quotas" \
     -H "Content-Type: application/json" \
     -d "$JSON_DATA"

