#!/bin/bash

DIR="$( cd "$( dirname "$( readlink -f "$0" )" )" && pwd )"
ME="$( basename "$( readlink -f "$0" )" )"
ISILON_HOMEBASE="/ifs/carina-prod/home"
ISILON_URL="https://h700.mgmt.carina:8080/platform/8/quota/quotas"
QUOTA_SIZE="26843545600" # 25GiB

# noop if userid is not passed
[ -n "$1" ] || exit 0

# noop if home directory does not exist
[ -d /home/users/$1 ] || exit 0

# source isilon credentials
. $DIR/$ME.env

# noop if quota is already set
ISILON_QUOTA_COUNT=$(curl \
                     --data-urlencode "path=$ISILON_HOMEBASE/$1" \
                     --fail \
                     --header "Content-Type: application/json" \
                     --insecure \
                     --request GET \
                     --silent \
                     --user "${ISILON_USER}:${ISILON_PASSWORD}" \
                     $ISILON_URL
                     | jq '.quotas | length')
[ $ISILON_QUOTA_COUNT -eq 0 ] || exit 0

# payload for quota post request
JSON_DATA=$(cat <<EOF
{
  "include_snapshots": false,
  "path": "$ISILON_HOMEBASE/$1",
  "thresholds": {
    "hard": $QUOTA_SIZE
  },
  "type": "directory"
}
EOF
)

curl \
--data "$JSON_DATA" \
--fail \
--header "Content-Type: application/json" \
--insecure \
--request POST \
--silent \
--user "${ISILON_USER}:${ISILON_PASSWORD}" \
$ISILON_URL
