#!/bin/bash

BACKUP_MOUNT="/admin"
DEST_DB_DIR="$BACKUP_MOUNT/slurm/db/backup"
DB_NAME="slurm"
DAYS_TO_KEEP="90"

fail()
{
  local RC MSG
  RC="$1"
  MSG="$2"
  if [ $RC -ne 0 ]
  then
    echo "$MSG" >&2
    exit $RC
  fi
}

mountpoint -q $BACKUP_MOUNT
fail $? "$BACKUP_MOUNT isn't a mount point"

mkdir -p $DEST_DB_DIR

TODAY_SEC=$( date +%s )
SQL_FILE="$DEST_DB_DIR/$DB_NAME-$TODAY_SEC.sql"

mysqldump \
--databases $DB_NAME \
--skip-extended-insert \
> $SQL_FILE
fail $? "mysqldump to $SQL_FILE failed"
gzip $SQL_FILE
fail $? "gzip of mysqldump file $SQL_FILE failed"

SEC_PER_DAY=$(( 24 * 60 * 60 ))
CUTOFF_SEC=$(( TODAY_SEC - (SEC_PER_DAY * DAYS_TO_KEEP) ))
CUTOFF_DATE=$( date -d @$CUTOFF_SEC -u +%Y%m%d )

for FILE in $( find \
               $DEST_DB_DIR \
               -type f \
               -name "*.sql.gz" \
               -not -newermt $CUTOFF_DATE )
do
  rm -f $FILE
done
