---
title: 'VS Code'
cluster: 'c2'

form:
  - bc_account
  - bc_queue
  - code_server_version
  - fs_size
  - fs_gpu
  - bc_num_hours
  - bc_email_on_started

attributes:

  bc_account: 'users'
  bc_queue: 'dev'

  code_server_version: '{{ code_server_version }}'

  fs_size:
    label: 'Size'
    widget: 'select'
    options:
      - [ 'Tiny', 'tiny' ]
      - [ 'Small', 'small' ]
      - [ 'Medium', 'medium' ]
      - [ 'Large', 'large' ]
    value: 'small'
    help: |
      <small>

        - **Tiny**: 1 core, 4 GB
        - **Small**: 2 cores, 8 GB
        - **Medium**: 4 cores, 16 GB
        - **Large**: 8 cores, 32 GB

      </small>

  fs_gpu:
    label: 'Allocate a GPU'
    widget: 'check_box'

  bc_num_hours:
    value: 1
    max: 24
