---
name: VS Code
category: Interactive Apps
subcategory: Servers
role: batch_connect
description: |
  This app will launch a [VS Code] server using [code-server] on a compute node.

  [VS Code]: https://code.visualstudio.com/
  [code-server]: https://coder.com/
