<IfModule mpm_event_module>
  # ServerLimit is MaxRequestWorkers / ThreadsPerChild
  ServerLimit            8
  StartServers           2
  MaxRequestWorkers      256
  MinSpareThreads        25
  MaxSpareThreads        75
  ThreadsPerChild        32
  MaxRequestsPerChild    0
  ThreadLimit            256
  ListenBacklog          255
</IfModule>
