pinned_apps:
  - sys/jupyterlab
  - sys/matlab
  - sys/rstudio-server
  - sys/code-server
  - sys/bc_desktop
# pinned_apps_group_by: category 

dashboard_layout:
  rows:
    - columns:
      - width: 8
        widgets:
          - pinned_apps
      - width: 4
        widgets:
          - recently_used_apps
          - sessions
          - dash_list
