---
dashboard_title: '{{ ood_dashboard_title }}'
brand_bg_color: '#8C1515'
# todo: enable auto_modules_*
# https://osc.github.io/ood-documentation/latest/how-tos/app-development/interactive/form.html#automatic-predefined-attributes
#module_file_dir: ...
