---
# Stanford branding / Carina OOD customizations
dashboard_title: '{{ ood_dashboard_title }}'
brand_bg_color: '#651C32'
cancel_session_enabled: yes
# custom css/js https://osc.github.io/ood-documentation/latest/customizations.html#custom-css-files
custom_css_files: ["/assets/css/custom.css"]
custom_javascript_files: ["/assets/js/custom.js"]

dashboard_header_img_logo: "/public/carina-logo-white.png"
dashboard_header_img_logo_alt: "Carina Logo"

# TODO documentation link for help menu when site is ready
# help_menu:
#  - group: "Documentation"
#  - title: "Carina Documentation"
#    icon: "fas://book"
#    url: "https://docs.carina.stanford.edu"

# todo: enable auto_modules_*
# https://osc.github.io/ood-documentation/latest/how-tos/app-development/interactive/form.html#automatic-predefined-attributes
#module_file_dir: ...
