support_ticket:
  attachments:
    max_items: 4
    max_size: 2097152
  description: How can we help? Please make sure to provide as much information as possible
  email:
    to: "saracook@stanford.edu"
  attributes:
    username:
      value: "<%= CurrentUser.name %>"
      disabled: true
    email:
      widget: email_field
      required: true
    cc:
      widget: email_field
    subject:
      required: true
      value: "Carina support for OnDemand"
    session_description:
      hide_when_empty: true
      disabled: true
    attachments:
      widget: file_attachments
    description:
      widget: text_area
      required: true
      rows: 10
  form:
    - username
    - email
    - cc
    - subject
    - attachments
    - description
    - session_id
    - session_description
