// Place all Bootstrap 5 variable overrides in this file.
// Bootstrap 5 SASS variables list: https://github.com/twbs/bootstrap/blob/v5.0.2/scss/_variables.scss

// Miscellaneous
$enable-responsive-font-sizes: "true";
$enable-shadows: "true";

// Colors
$blue: #016895;
$green: #008566;
$digital-red: #B1040E;
$cardinal-red: #8C1515;
$body-color: rgb(51, 51, 51);
$digital-blue	:	#006cb8;
$digital-green	:	#008566;
$poppy	:	#E98300;
$lagunita	:	#007C92;
$jupyter: #F37626;
$ood-burgundy: #42081B;

$link-color: $digital-blue;


// see https://getbootstrap.com/docs/5.0/customize/sass/#modify-map
$theme-colors: (
  "primary": $digital-blue,
  "success": $digital-green,
  "danger": $digital-red,
  "secondary": #6c757d,
  "info": $lagunita,
  "warning": $poppy,
  "light": #f8f9fa,
  "dark": #212529
);

// NOTE: bootstrap 3 info color was not teal but #5bc0de
// however bootstrap's calculation to determine the text ends up with black instead of white text
// so we avoid overriding this

// Navbar color default overrides
$navbar-light-color: rgb(119, 119, 119);
$navbar-light-disabled-color: rgb(119, 119, 119);
$navbar-dark-brand-color: rgb(119, 119, 119);

$navbar-dark-color: #fff;
$navbar-dark-active-color: rgba(#fff, .75);
$navbar-dark-brand-color: #fff;
$navbar-dark-disabled-color: rgba(#fff, .75);

// pinned_apps widget colors
$launcher_border: $lagunita;
$launcher_border_hover: $digital-blue;

// support ticket colors
$support_ticket_error:$digital-red;

// Grid layout
$container-max-widths: (
  xs: 0,
  sm: 768px,
  md: 920px,
  lg: 1140px,
  xl: 1260px,
);

// Navigation bar link gutter spacing x-axis.
$navbar-nav-link-padding-x: 0.75rem;

// breadcrumbs are purely visual for accessibility
$breadcrumb-divider: '';
$breadcrumb-bg: #e9ecef;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;

// files get copied during 'yarn build' in esbuild.config.js
$fa-font-path: "../builds";
