.su-global-footer{
    font-family: $font-family-footer;
}
.skiplink, .skiplink:hover, .skiplink:visited, .skiplinks, .skiplinks:hover, .skiplinks:visited {
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

.skiplink, .skiplinks {
    position: absolute;
    top: -500px;
    left: .8em;
    min-height: 1px;
    transition: top .25s ease-in-out;
    padding: 0;
    background-color: #2e2d29;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
}
