[Desktop Entry]
Version=1.0
Type=Application
Name=STATA {{ item.version }} {{ item.edition }}
GenericName=STATA
Exec=bash -c "proot -b /software/licensefiles/stata/{{ item.version }}/$USER.lic:/software/modules/stata/{{ item.version }}/stata.lic /software/modules/stata/{{ item.version }}/xstata-{{ item.edition | lower }} -f0"
Icon=/software/modules/stata/{{ item.version }}/stata{{ item.version }}.png
Terminal=false
StartupNotify=false
Hidden=false
