[Software\BigFix\EnterpriseClient\Settings\Client\SU Group]
value                          = "RC"
effective date                 = Tue,%2008%20Mar%202016%2012:02:25%20-0800

[Software\BigFix\EnterpriseClient\Settings\Client\SU Subgroup]
value                          = "RC"
effective date                 = Tue,%2008%20Mar%202016%2012:02:26%20-0800
