{% if pxe_mode is defined and pxe_mode == 'netinstall' %}
DEFAULT {{ hostname }}
LABEL {{ hostname }}
  KERNEL {{ distros[hostvars[hostname]['distro']]['iso_pxe_linux'] }}
  INITRD {{ distros[hostvars[hostname]['distro']]['iso_pxe_initrd'] }}
  APPEND ip=dhcp {{ 'net.ifnames=0 biosdevname=0' if hostname in groups['c2_kvm_guest'] else '' }} console=ttyS0,115200n8 console=tty0 inst.ks=http://{{ nginx_ip }}:{{ nginx_port }}/{{ hostname }}/kickstart.cfg ---
{% else %}
DEFAULT localboot
LABEL localboot
  LOCALBOOT 0
{% endif %}
