[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
# todo: add collector and other options
ExecStart=/usr/local/sbin/node_exporter

[Install]
WantedBy=multi-user.target
