[connection]
id={{ interface }}
uuid={{ hostvars[hostname]['interfaces'][interface]['uuid'] }}
type=bond
interface-name={{ interface }}
{% if 'bridge' in hostvars[hostname]['interfaces'][interface] %}
controller={{ hostvars[hostname]['interfaces'][interface]['bridge'] }}
port-type=bridge
{% endif %}
autoconnect=true

[ethernet]
mtu={{ network_mtu }}

[bond]
mode={{ hostvars[hostname]['interfaces'][interface]['bond_mode'] }}
{% if hostvars[hostname]['interfaces'][interface]['bond_mode'] == '802.3ad' %}
xmit_hash_policy={{ hostvars[hostname]['interfaces'][interface]['bond_xmit_hash_policy'] }}
{% endif %}
miimon={{ hostvars[hostname]['interfaces'][interface]['bond_miimon'] }}

{% if 'address' in hostvars[hostname]['interfaces'][interface] %}
[ipv4]
method=manual
{% for addr in hostvars[hostname]['interfaces'][interface]['address'] %}
address{{ loop.index }}={{ addr }}
{% endfor %}
gateway={{ hostvars[hostname]['interfaces'][interface]['gateway'] }}
{% if 'dns' in hostvars[hostname]['interfaces'][interface] %}
dns={{ hostvars[hostname]['interfaces'][interface]['dns'] | join(";") }};
dns-search={{ hostvars[hostname]['interfaces'][interface]['dns_search_domain'] | join(";") }};
{% endif %}
{% if 'default_route' not in hostvars[hostname]['interfaces'][interface] or not hostvars[hostname]['interfaces'][interface]['default_route'] %}
never-default=true
{% endif %}

[ipv6]
method=disabled
{% else %}
[ipv4]
method=disabled

[ipv6]
method=disabled
{% endif %}
{% if 'bridge' in hostvars[hostname]['interfaces'][interface] %}

[bridge-port]
{% endif %}
