[connection]
id={{ bond_1 }}
uuid=1a480442-8afd-4cae-96ff-55e117e3b9d2
type=bond
controller={{ bridge_1 }}
interface-name={{ bond_1 }}
port-type=bridge

[ethernet]
mtu={{ network_mtu }}

[bond]
mode={{ bond_mode }}
{% if bond_mode == '802.3ad' %}
xmit_hash_policy={{ bond_xmit_hash_policy }}
{% endif %}
miimon={{ bond_miimon }}

[bridge-port]
