[connection]
id={{ bridge_1 }}
uuid=aadbbed7-591f-46a8-ba4b-5a0df5935d0c
type=bridge
interface-name={{ bridge_1 }}

[ethernet]
mtu={{ network_mtu }}

[bridge]
stp=false

[ipv4]
method=manual
address1={{ hostip }}/{{ network_prefix }}
gateway={{ network_gateway }}
dns={{ network_dns | join(';') }};
dns-search={{ domain }};

[ipv6]
method=disabled

[proxy]
