<domain type='kvm'>
  <name>{{ inventory_hostname }}</name>
  <memory unit='GiB'>{{ memory_gb }}</memory>
  <vcpu>{{ vcpus }}</vcpu>
  <os firmware='efi'>
    <type arch='x86_64' machine='q35'>hvm</type>
    <smbios mode='sysinfo'/>
    <loader readonly='yes' type='pflash'>/usr/share/edk2/ovmf/OVMF_CODE.fd</loader>
    <nvram template='/usr/share/edk2/ovmf/OVMF_VARS.fd'>/var/lib/libvirt/qemu/nvram/{{ inventory_hostname }}_VARS.fd</nvram>
  </os>
  <features><acpi/></features>
  <sysinfo type='smbios'/>
  <cpu mode='host-passthrough' check='none' migratable='on'/>
  <devices>
    <console type='pty'/>
    <serial type='pty'/>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <disk type='volume' device='disk'>
      <driver name='qemu' type='raw'/>
      <source pool='{{ hostvars[kvm_host]['pool'] }}' volume='{{ inventory_hostname }}-boot'/>
      <target dev='{{ boot_disk_dev }}' bus='virtio'/>
{% if pxe_mode is defined and pxe_mode == 'netinstall' %}
      <boot order='2'/>
{% else %}
      <boot order='1'/>
{% endif %}
    </disk>
    <disk type='volume' device='disk'>
      <driver name='qemu' type='raw'/>
      <source pool='{{ hostvars[kvm_host]['pool'] }}' volume='{{ inventory_hostname }}-data'/>
      <target dev='{{ data_disk_dev }}' bus='virtio'/>
    </disk>
    <interface type='network'>
      <mac address='{{ interfaces[nic_1]['mac_address'] }}'/>
      <source network='{{ interfaces[nic_1]['host_bridge'] }}'/>
      <model type='virtio'/>
{% if pxe_mode is defined and pxe_mode == 'netinstall' %}
      <boot order='1'/>
{% endif %}
    </interface>
    <interface type='network'>
      <mac address='{{ interfaces[nic_2]['mac_address'] }}'/>
      <source network='{{ interfaces[nic_2]['host_bridge'] }}'/>
      <model type='virtio'/>
    </interface>
    <graphics type='vnc' autoport='yes'/>
  </devices>
</domain>
