[connection]
id={{ interface }}
uuid={{ hostvars[hostname]['interfaces'][interface]['uuid'] }}
type=ethernet
interface-name={{ interface }}
{% if 'bond' in hostvars[hostname]['interfaces'][interface] %}
controller={{ hostvars[hostname]['interfaces'][interface]['bond'] }}
port-type=bond
{% endif %}
autoconnect=true

[ethernet]
mtu={{ network_mtu }}
mac-address={{ hostvars[hostname]['interfaces'][interface]['mac_address'] | upper }}

{% if 'address' in hostvars[hostname]['interfaces'][interface] %}
[ipv4]
method=manual
address={{ hostvars[hostname]['interfaces'][interface]['address'] | join(";") }};
gateway={{ hostvars[hostname]['interfaces'][interface]['gateway'] }}
dns={{ hostvars[hostname]['interfaces'][interface]['dns'] | join(";") }};
dns-search={{ hostvars[hostname]['interfaces'][interface]['dns_search_domain'] | join(";") }};

[ipv6]
method=disabled
{% endif %}
{% if 'bond' in hostvars[hostname]['interfaces'][interface] %}
[bond-port]
{% endif %}
