%pre --erroronfail --interpreter=/bin/bash
BYTES="{{ hostvars[hostname]['boot_disk_bytes'] }}"
DISK="$( lsblk -bdnr | grep " $BYTES " | awk '{print $1}' )"
{% if hostname in groups['c2_kvm_guest'] %}
DEV="/dev/$DISK"
{% else %}
DEV="$( find /dev/disk/by-id/nvme-eui.* -type l -lname "*/$DISK" | cut -d/ -f3- )"
{% endif %}
cat <<EOF > /tmp/boot-disk-part
part /boot/efi --asprimary --fstype=efi --ondisk=$DEV --size=256
part /boot --asprimary --fstype=xfs --ondisk=$DEV --size=512
part / --asprimary --fstype=xfs --ondisk=$DEV --grow
bootloader --boot-drive=$DEV --driveorder=$DEV --location=mbr
EOF
%end

text
skipx
poweroff
timezone --utc {{ timezone }}
lang {{ locale }}
keyboard us
{% if ks_mode == 'cdrom' %}
cdrom
network --bootproto=static --device={{ mac_address }} --gateway={{ network_access_gateway }} --hostname={{ hostname }} --ip={{ hostvars[hostname]['ansible_host'] }} --mtu={{ network_mtu }} --nameserver={{ network_access_dns | join(',') }} --netmask={{ network_access_mask }} --noipv6 --onboot=yes
{% elif ks_mode == 'url' %}
url --url=http://{{ nginx_ip }}:{{ nginx_port }}/{{ distros[hostvars[hostname]['distro']]['name'] }}
{% endif %}
zerombr
clearpart --all --disklabel=gpt --initlabel
%include /tmp/boot-disk-part
rootpw --plaintext {{ default_password }}
user --gecos="{{ default_user_gecos }},,," --groups={{ default_user_groups | join(',') }} --name={{ default_user }} --password={{ default_password }} --plaintext --shell=/bin/bash
sshkey --username={{ default_user }} "{{ lookup('file', ansible_ssh_public_key_file) }}" 
sshkey --username=root "{{ lookup('file', ansible_ssh_public_key_file) }}" 
firewall --disabled
firstboot --disabled
selinux --disabled
services --enabled=sshd

%packages
@^minimal-environment
%end

%post --erroronfail --interpreter=/bin/bash
fallocate -l {{ hostvars[hostname]['swapfile_gb'] }}G /swapfile
chmod 00600 /swapfile
mkswap /swapfile
echo '/swapfile none swap sw 0 0' | tee -a /etc/fstab
install \
-o root -g root -m 0400 \
<(echo '{{ default_user }} ALL=(ALL) NOPASSWD:ALL') \
/etc/sudoers.d/{{ default_user }}
install \
-o root -g root -m 0600 \
<(echo 'PasswordAuthentication no') \
/etc/ssh/sshd_config.d/90-no-passwd-authn.conf 
rm -f /etc/NetworkManager/system-connections/*
{% for item in hostvars[hostname]['interfaces'] | dict2items %}
{% set interface = item.key %}
cat <<EOF > /etc/NetworkManager/system-connections/{{ interface }}.nmconnection
{% include item.value.type ~ ".nmconnection.j2" +%}
EOF
{% endfor %}
chmod 600 /etc/NetworkManager/system-connections/*
%end
