[connection]
id={{ bond_1 }}-{{ nic_1 }}
uuid=24f493e7-5f6d-462b-b1cb-33b7c833cc48
type=ethernet
controller={{ bond_1 }}
interface-name={{ nic_1 }}
port-type=bond

[ethernet]
mtu={{ network_mtu }}
mac-address={{ mac_address_1 | upper }}

[bond-port]
