[connection]
id={{ bond_1 }}-{{ nic_2 }}
uuid=d886260b-f48f-410e-8b9a-b94d58646483
type=ethernet
controller={{ bond_1 }}
interface-name={{ nic_2 }}
port-type=bond

[ethernet]
mtu={{ network_mtu }}
mac-address={{ mac_address_2 | upper }}

[bond-port]
