{% for host in groups['all'] %}
{% if host not in groups['c2_kvm_guest'] %}

# begin host {{ host }}
configure terminal
no interface port-channel {{ hostvars[host]['switch_port_channel'] }}
end
configure terminal
interface port-channel {{ hostvars[host]['switch_port_channel'] }}
end
{% for item in hostvars[host]['interfaces'] | dict2items if item.value.type == 'ethernet' %}
configure terminal
interface range ethernet {{ item.value.switch_port }}
channel-group {{ hostvars[host]['switch_port_channel'] }} mode active
end
{% endfor %}
configure terminal
interface port-channel {{ hostvars[host]['switch_port_channel'] }}
switchport mode trunk
switchport access vlan {{ network_access_vlan }}
switchport trunk allowed vlan {{ network_trunk_vlans | join(',') }}
lacp individual
description "{{ host }} lacp bond0"
end
{% for item in hostvars[host]['interfaces'] | dict2items if item.value.type == 'ethernet' %}
configure terminal
interface ethernet {{ item.value.switch_port }}
description "{{ host }} ethernet {{ item.key }}"
end
{% endfor %}
write memory
# end host {{ host }}

{% endif %}
{% endfor %}
