#cloud-config
hostname: {{ hostname }}
locale: {{ locale }}
timezone: {{ timezone }}
keyboard:
  layout: us
swap:
  filename: /swapfile
  size: {{ swapfile_gb }}G
  maxsize: {{ swapfile_gb }}G
ssh_pwauth: false
users:
  - name: {{ default_user }}
    gecos: {{ default_user_gecos }}
    plain_text_passwd: {{ default_password }}
    groups: [{{ default_user_groups | join(', ') }}]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - '{{ lookup('file', ansible_ssh_public_key_file) }}'
ntp:
  enabled: true
  ntp_client: chrony
