#!/usr/bin/env bash

echo "$(date): Starting main script"

cd $HOME

. {{ ood_jupyterlab_venv }}/bin/activate

module purge
module load r/4.5.1

echo "$(date): Starting JupyterLab"

set -x

jupyter lab --config="${CONFIG_FILE}" <%= context.extra_jupyter_args %>
