name: JupyterLab
category: Interactive Apps
subcategory: Servers
role: batch_connect
description: |
  This app will launch a [JupyterLab] server on a compute node.

  [JupyterLab]: https://jupyter.org/
tile:
  border_color: "tile jupyter"
  sub_caption: |
    Launch MATLAB