<div class="col-xs-12 col-sm-6 col-md-4 app-launcher-container">
    <div class="app-launcher app-launcher-hover" data-bs-toggle="launcher-button">
        <a class="launcher-click tile sas"
            href="/pun/sys/dashboard/batch_connect/sys/bc_desktop/c2/session_contexts/new">
            <div class="center-block text-center">
                <img class="app-icon" title="SAS on Carina" aria-hidden="true" src="/public/assets/images/sas.png">
                <p class="app-title">SAS on Carina Desktop</p>
                <div class="mt-2 mb-1">
                    <p class="app-description text-muted">Launch Carina Desktop</p>
                </div>
            </div>
        </a>
    </div>
</div>
