<div class="app-launcher app-launcher-hover" data-bs-toggle="launcher-button">
    <a class="launcher-click" href="/pun/sys/dashboard/batch_connect/sys/bc_desktop/c2/session_contexts/new">
        <div class="center-block text-center">
            <img class="app-icon" title="/pun/sys/dashboard/apps/icon/bc_desktop/sys/sys" aria-hidden="true" src="/pun/sys/dashboard/apps/icon/bc_desktop/sys/sys">
            <p class="app-title">SAS</p>

            <p class="text-muted mt-1">Access SAS from the Carina Desktop</p>
        </div>
    </a>
</div>
