---
v2:
  metadata:
    title: 'Carina'
  login:
    host: '{{ hostvars[groups['c2_login_node'][0]]['login_domain'] }}'
    # https://osc.github.io/ood-documentation/latest/customizations.html#set-default-ssh-host
    default: true
  job:
    adapter: 'slurm'
    bin: '/usr/bin'
  batch_connect:
    basic:
      script_wrapper: |
        module purge
        export HOME="/home/users/$SLURM_JOB_USER"
        %s
      set_host: 'host="$(hostname -s).{{ network_access_domain }}"'
    vnc:
      script_wrapper: |
        module purge
        export HOME="/home/users/$SLURM_JOB_USER"
        export PATH="/opt/TurboVNC/bin:$PATH"
        export WEBSOCKIFY_CMD="/usr/bin/websockify"
        %s
      set_host: 'host="$(hostname -s).{{ network_access_domain }}"'
