@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

body {
  font-size: 18px;
  font-family: "Source Sans Pro", "Source Sans 3", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

div,
li,
p {
  line-height: 1.5
}

h2,
h4 {
  margin-bottom: .5em
}

h3 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: .75em
}

.su-main-nav ul.su-main-nav__menu-lv1>li:last-child>ul {
  right: 0
}

.alert code,
p code {
  padding: 0 4px
}

footer {
  margin-top: 2em
}

@media (max-width:769px) {
  .sidebar {
    font-size: 16px
  }
}

.sidebar ul li ul {
  margin-top: 0;
  margin-left: 12px
}

.sidebar ul li {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  margin-bottom: 0
}

.sidebar ul li ul li {
  border-bottom: none;
  padding: 2px 0
}

.alert code {
  color: inherit;
  background: rgba(255, 255, 255, .4)
}



div.fancy-copy.copied #copyOverlay {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  right: 50%;
  margin-right: -112px;
  font-size: 300px;
  opacity: .3;
  color: #000
}

.form-row .tip-input input {
  width: 100%;
  max-width: 100%
}

.alert.question h3,
div+h2,
div.section-head,
p+h2 {
  margin-top: 1.5em
}

pre,
pre.highlight {
  padding: 6px;
  background-color: #f4f4f4;
  margin: 12px 0
}

.sidebar>.alert {
  margin: 1em 2em 1em 0;
  display: block
}

.sidebar h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
}

.sidebar ul,
pre {
  display: block
}

.alert {
  margin: 1.5em 0
}

.alert p.h4,
.sidebar h2 {
  font-size: 1.2em;
  font-weight: 600
}

.sidebar .list-group-item {
  padding-left: 1em
}

a .fa {
  margin-right: .3em
}

.more-link a,
a.more-link {
  font-weight: 600;
  font-size: .9em;
  padding-left: 0;
  padding-top: 2px;
  display: inline;
  text-transform: uppercase;
  text-decoration: none
}

div.text-chunk {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #b6b1a9
}

div.text-chunk .post {
  margin-top: 0;
  margin-bottom: 1.5em
}

.toggle-all:focus {
  text-decoration: none;
  background-color: transparent;
  color: #333
}

.accordion button.accordion-button {
  background-color: transparent;
  display: flex;
  padding: 1em;
  color: #333;
  width: 100%;
  text-align: left
}

.accordion button.accordion-button:not(.collapsed) {
  background-color: #f4f4f4
}

.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'%3e%3cpath fill-rule='evenodd' stroke = 'black' stroke-width='1px' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'%3e%3cpath fill-rule='evenodd' stroke = 'black' stroke-width='1px' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.btn {
  --bs-btn-padding-y: 8px;
  --bs-btn-padding-x: 12px;
  --bs-btn-font-size: 18px
}

figure.hero-image .h4 {
  font-size: 1.2em;
  font-weight: 600
}

ul.plain-list {
  list-style-type: none
}

.layout {
  padding-top: 6rem
}

code,
kbd,
pre,
samp {
  font-family: Menlo, "Roboto Mono", Monaco, Consolas, "Courier New", monospace
}

code {
  color: #000;
  background-color: #f4f4f4
}

.su-local-footer__action-links a.su-link--email:after,
.su-local-footer__action-links a.su-link--external:after {
  height: 1em;
  width: 1em;
  display: inline-block;
  content: "";
  mask: url(../assets/email.svg)no-repeat 0 0;
  mask-size: contain
}

.su-local-footer__action-links a.su-link--external:after {
  height: .7em;
  width: .7em;
  mask: url(../assets/arrow-up-right.svg)no-repeat 0 0;
  mask-size: contain;
}

.sidebar .action-box {
  background-color: #f8f9fa;
  padding: 1em;
  border: 1px solid #b6b1a9
}



.sidebar>div,
.sidebar>div.alert {
  margin: 1em 2em 1em 0;
  display: block
}

.sidebar-right>div {
  margin: 1em 0 1em 2em;
  display: block
}
@media (max-width:769px) {
  .sidebar {
    font-size: 16px
  }

  .sidebar-right>div {
    margin: 1em 0 1em 0;
  }

  .sidebar>div,
  .sidebar>div.alert {
    margin: 1em 0 1em 0;
    display: block
  }
}

.sidebar>div:first-child {
  margin-top: 0
}

.sidebar .sidebar-toc {
  padding: 1em
}

.sidebar-also .active {
  border-left: 2px solid #000;
  padding-left: 1em;
  display: none
}

.sidebar .sidebar-box {
  border-radius: var(--bs-border-radius);

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0
  }
}

.sidebar a {
  text-decoration: none;
}

.sidebar ul.inline-toc {
  margin-bottom: 0;
}

.sidebar .list-group-flush>.list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}

.sidebar ul.list-group li:last-child,
.sidebar ul li:last-child {
  border-bottom: none
}

.alert.question a,
.sidebar ul li ul li a {
  font-weight: 500
}

.sidebar ul a:hover {
  text-decoration: underline
}

.alert .fa-solid {
  margin: 0 .5em;
  opacity: .5
}

.sidebar .alert .fa-solid {
  margin: 0 12px 0 2px
}

div.alert {
  margin: 1.5em 0
}

.alert .title {
  font-weight: 700
}

.alert.question .fa-solid {
  opacity: .5
}

.alert.question {
  background-color: #f4f4f4
}

#copyBtn.funkytown,
.alert.question div {
  text-align: left
}

.alert.note i {
  color: #2e2d29
}

.alert.tip i {
  color: #417865
}

a.no_icon:after,
a[href].noCrossRef::after {
  content: "" !important;
  padding-left: 0
}



.su-hero,
.su-hero__media {
  min-height: auto !important
}

#copyBtn.funkytown {
  animation: fadeIn 1s
}

div.fancy-copy {
  position: relative
}

div.fancy-copy.copied {
  background-color: #000;
  opacity: .5
}

#copyOverlay {
  display: none
}

.btn.generate {
  margin-top: .2em
}

.btn.copy,
.btn.generate,
.form-control {
  font-size: 16px
}

.tip-input {
  flex-grow: 9
}

.tip-btn {
  padding-top: .2em
}

a.btn {
  text-decoration: none
}

#powerUrlLink {
  display: block
}

.btn-info {
  color: #fff;
  background-color: #128193;
  border-color: #128193
}

.alert.note {
  color: #2e2d29;
  background-color: #f4f4f4
}

.su-card .su-card__contents>.h2 {
  margin-bottom: 0;
  font-size: 1.5625em;
  letter-spacing: -.012em;
  font-weight: 700;
  line-height: 1.5
}

.su-link,
a {
  color: #006CB8;
}

[type=checkbox]:checked+label:before,
[type=radio]:checked+label:before {
  background-color: #006CB8;
  -webkit-box-shadow: 0 0 0 1px #006CB8;
  box-shadow: 0 0 0 1px #006CB8;
}

[type=button],
[type=image],
[type=reset],
[type=submit],
button {
  padding: 1rem 2rem 1.15rem;
  background-color: #006CB8;
  color: #fff;
}

.btn-outline-primary {
  --bs-btn-color: #006CB8;
  --bs-btn-border-color: #006CB8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #006CB8;
  --bs-btn-hover-border-color: #006CB8;
  --bs-btn-focus-shadow-rgb: 0, 108, 184;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #006CB8;
  --bs-btn-active-border-color: #006CB8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-gradient: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #006CB8;
  --bs-btn-border-color: #006CB8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00548f;
  --bs-btn-hover-border-color: #00548f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00548f;
  --bs-btn-active-border-color: #00548f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.text-bg-primary {
  color: #fff !important;
  background-color: #006CB8 !important;
}

p.annotation {
  font-size: .8em;
  color: #666;
  background-color: #ffffe6;
  display: inline-block;
  margin: 0 4px;
  padding: 4px;
}

table .vertical-align-top {
  vertical-align: top;
}

table tbody td ul:first-child {
  margin-top: 0;
}

li>i.fa-regular,
li>i.fa-brands {
  margin-right: 6px;
}

#page-content .btn-carina {
  background-color: #651C32;
  border-color: #651C32;
  color: white;

  &:hover {
    background-color: #42081B;
    border-color: #42081B;
    color: white;
    text-decoration: underline
  }
}

.carina-status {

  h2,
  p {
    text-shadow: 2px 2px #000;
  }

  .card-img {
    max-height: 300px;
    object-fit: cover;
  }

  border: 4px solid #198754;
  /* Bootstrap's green */
}

.status-up .card-img {
  opacity: 0.7;
}

.status-down {
  border-color: #dc3545;

  /* Bootstrap's red */
  .card-img {
    opacity: 0.5;
    filter: sepia(90%);
  }
}

.status-maint {
  border-color: #ffc107;

  /* Bootstrap's yellow */
  .card-img {
    opacity: 0.5;
    filter: sepia(50%);
  }
}

.su-main-nav>ul>li>a {
  font-size: 1.8rem;
}

.sidebar .card-header {
  padding-left: 1em
}

.su-main-nav>ul>li>ul {
  margin-left: 0;
  padding-left: 0;
}

input.form-control-lg,
label {
  max-width: 100%;
}

.su-masthead .masthead .su-lockup {
  margin-bottom: 6px;
}

.app-card {
  img {
    max-height: 150px;
    object-fit: scale-down;
  }
}

.app-card {
    border: 2px solid #651C32;

    &.matlab {
        border-color: #08609d;
    }

    &.jupyter {
        border-color: #F37626;
    }

    &.vscode {
        border-color: #0098FF;
    }

    &.rstudio {
        border-color: #75aadb;
    }

    &.sas {
        border-color: #0766D1;
    }

    &.stata {
        border-color: #064F8F;
    }
}

div.alert.alert-success{
  background-color: white;
  border: 3px solid #198754;
}

div.alert.alert-success code{
  background-color: #e0ebe6;
}
