[defaults]
deprecation_warnings = False
host_key_checking = False
interpreter_python = auto_silent
inventory = hosts
nocows = 1
pipelining = True
remote_tmp = /var/tmp/$USER/ansible/tmp
retry_files_enabled = False
local_tmp = /var/tmp/$USER/ansible/tmp
verbosity = 0
