ClusterName={{ slurm_cluster_name }}
{% for host in groups['c2_slurm_controller'] %}
SlurmctldHost={{ host }}({{ hostvars[host]['ansible_host'] }})
{% endfor %}
ProctrackType=proctrack/cgroup
PrologFlags=Contain
ReturnToService=1
SlurmctldParameters=enable_configless
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmctldPort=6817
SlurmdPidFile=/var/run/slurm/slurmd.pid
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurmd
SlurmUser=slurm
StateSaveLocation=/var/spool/slurmctld
TaskPlugin=task/affinity,task/cgroup

# TIMERS
InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=120
SlurmdTimeout=300
Waittime=0

# SCHEDULING
SchedulerType=sched/backfill
SelectType=select/cons_tres

# SUBMISSION
EnforcePartLimits=ALL
LaunchParameters=ulimit_pam_adopt
MailProg=/usr/bin/smail
MailDomain={{ network_access_domain }}

# ACCOUNTING
JobCompType=jobcomp/none
JobAcctGatherType=jobacct_gather/cgroup
JobAcctGatherFrequency=30
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ groups['c2_slurm_database'][0] }}
AccountingStoragePort=6819
AccountingStorageTRES=gres/gpu
AccountingStorageEnforce=qos,safe
# todo: review these
#AcctGatherNodeFreq=300
#AcctGatherEnergyType=acct_gather_energy/rapl

# METRICS
MetricsType=metrics/openmetrics

# LOGGING
SlurmctldDebug=info
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdDebug=info
SlurmdLogFile=/var/log/slurm/slurmd.log

# GRES
GresTypes=gpu

# COMPUTE NODES
NodeName=DEFAULT State=UNKNOWN
{% for node in groups['c2_compute_node'] %}
NodeName={{ node }} CPUs={{ hostvars[node]['cpus'] }} RealMemory={{ hostvars[node]['real_memory_mb'] }} MemSpecLimit={{ hostvars[node]['mem_spec_limit_mb'] }} SocketsPerBoard={{ hostvars[node]['sockets_per_board'] }} CoresPerSocket={{ hostvars[node]['cores_per_socket'] }} ThreadsPerCore={{ hostvars[node]['threads_per_core'] }} {{ 'Gres=' ~ hostvars[node]['gres'] if node in groups['c2_gpu_node'] else '' }}
{% endfor %}

# PARTITIONS
PartitionName=DEFAULT SelectTypeParameters=CR_Core_Memory

#
# General partitions
#
PartitionName=dev \
    DefaultTime=0-01:00:00 \
    MaxTime=0-02:00:00 \
    OverSubscribe=No \
    PreemptMode=OFF \
    PriorityTier=50 \
    QOS=dev \
    Default=YES \
    Nodes=c2-comp-[01-05] 

PartitionName=normal \
    DefaultTime=0-02:00:00 \
    MaxTime=2-00:00:00 \
    OverSubscribe=NO \
    PreemptMode=OFF \
    PriorityTier=50 \
    QOS=normal \
    Nodes=c2-comp-[01-05]

PartitionName=long\
    DefaultTime=0-02:00:00 \
    MaxTime=2-00:00:00 \
    OverSubscribe=NO \
    PreemptMode=OFF \
    PriorityTier=50 \
    QOS=long \
    Nodes=c2-comp-[01-05]

#
# Owner partitions
#
PartitionName=boussard \
    DefaultTime=0-02:00:00 \
    MaxTime=4-00:00:00 \
    Priority=50 \
    DefMemPerCPU=500 \
    OverSubscribe=NO \
    MaxNodes=1 \
    Nodes=boussard-a100

PartitionName=mrivas \
    DefaultTime=0-02:00:00 \
    MaxTime=2-00:00:00 \
    Priority=50 \
    DefMemPerCPU=500 \
    OverSubscribe=NO \
    MaxNodes=1 \
    Nodes=mrivas-v100

PartitionName=nigam \
    DefaultTime=0-02:00:00 \
    MaxTime=2-00:00:00 \
    Priority=50 \
    DefMemPerCPU=500 \
    OverSubscribe=NO \
    MaxNodes=1 \
    Nodes=nigam-a100,nigam-h100,nigam-v100

PartitionName=ogevaert \
    DefaultTime=0-02:00:00 \
    MaxTime=7-00:00:00 \
    Priority=50 \
    DefMemPerCPU=500 \
    OverSubscribe=NO \
    MaxNodes=1 \
    Nodes=ogevaert-a100 

PartitionName=studdert \
    DefaultTime=0-02:00:00 \
    MaxTime=7-00:00:00 \
    Priority=50 \
    DefMemPerCPU=500 \
    OverSubscribe=NO \
    MaxNodes=1 \
    Nodes=studdert-a100 
